/*write your css here*/
/*write your css here*/
#boggle-board{
  padding: 20px;
  margin: 20px;
  background: #cccccc;
  text-align: center;
}

#boggle-header{
  margin-bottom: 20px;
}


#boogle-words{
  text-align: center;
}

#bog-cell{
  margin : 10px 10px 10px 10px;
  padding: 15px 15px 15px 15px
  background: white;
  text-align:  center;
}

td {
  border: none;
  padding: 20px ;
  background: #ffffff;
  text-align: center;

}
